*{
    margin:0;
    padding:0;
}
.rotate0{
    transform: rotateZ(0deg);
}
.rotate90{
    transform: rotateZ(90deg);
}
.rotate180{
    transform: rotateZ(180deg);
}
.rotate270{
    transform: rotateZ(270deg);
}

#gameContainer{
    position: relative;
    top: 12px;
    left: 420px;
    width: 500px;
    height: 600px;
    background-color: rgb(240, 240, 240);
    border-radius: 10%;
    box-shadow: 5px 5px 10px gray;
}
header{
    height: 80px;
    padding-top: 20px;
    text-align: center;
    font-size: xx-large;
}
img{
    position: absolute;
    top: 150px;
    left: 50px;
    width: 400px;
}
